<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testing.description %>
</p>

<%= link_to 'Edit', edit_testing_path(@testing) %> |
<%= link_to 'Back', testings_path %>
